<html>
  <head>
    <meta charset='utf8' />
    <title>Vic.ai API documentation</title>
    <!-- SEO -->
    <meta name='description' content='The Vic.ai API provides a seamless connection between your Enterprise Resource Planning (ERP) system and the Vic.ai product suite.' />
    <meta name='author' content='Vic.ai' />
    <meta name='keywords' content='docs, portal, public api'/>
    <meta property='og:url' content='https://docs.vic.ai' />
    <meta property='og:type' content='website' />
    <meta property='og:site_name' content='Vic.ai' />
    <meta property='og:title' content='API Documentation' />
    <meta property='og:description' content='The Vic.ai API provides a seamless connection between your Enterprise Resource Planning (ERP) system and the Vic.ai product suite.'/>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">

    <!-- needed for adaptive design -->
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <style>
      body { padding: 0; margin: 0; }
    </style>
    {{{redocHead}}}
    {{#unless disableGoogleFont}}<link
        href='https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700'
        rel='stylesheet'
      />{{/unless}}
  </head>
  <body>
    {{{redocHTML}}}
  </body>
</html>
